.channels-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 17rem;
  gap: 10px;
}

.date-error {
  color: #ff4545;
}

.certificacion-progra__wrapper {
  z-index: 999;
  background: linear-gradient(0deg, rgba(#013, 0.5), rgba(#310, 0.5));
  width: 100%;
  padding: 2rem;
  font-size: 1.4rem;
  //position: relative;

  .certificacion-progra__form {
    overflow: visible;
    height: 100%;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-flow: column;

    .certificacion-progra__form-body {
      gap: 1rem;
      min-height: 35rem;
      height: 100%;
      overflow: visible;
      display: flex;
      flex-flow: column;

      .disabled-form-error{
        position: absolute;
        top: 60px;
        color: #c72b2b;
        font-size: 20px;
        font-weight: bold;
        z-index: 100;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8080805e;
      }

      .certificacion-progra__row {
        color: #ddd;
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 0.3rem;

        .certificacion-progra__tag {
          color: #ddd;
          flex: 0 1 15rem;
          text-align: right;
          margin-right: 1rem;
          &::after {
            content: ":";
          }
        }

        .certificacion-progra__data {
          flex: 0 1 100%;
          text-align: left;
          margin-bottom: .2rem;

          .certificacion-progra__artis-repor {
            margin: 0.2rem;
            resize: none;
            background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
            border: none;
            outline: none;
            border-radius: 0.5rem;
            color: #ddd;
            width: 100%;
            height: 100%;

            &:disabled {
              color: #bbb;
              font-style: oblique;
            }
          }
        }
      }

      .certificacion-progra__row__expansive {
        flex: 1 1 100%;
      }

    }

    .certificacion-progra__row-filler {
      flex: 1 1 auto;
    }

    .certificacion-progra__row-buttons {
      flex: 0 1 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      //position:absolute;
      width: 100%;
      bottom: 3rem;

      .button-container {
        flex: 0 1 20rem;

        .button {
          height: 3rem;
          width: fit-content;
          padding: 0 2rem;
          margin-right: 1rem;
          > a {
            color: black;
            font-size:14px;
          }
        }
        .disabled {
          color: grey ;
          background-color:white;
          cursor:no-drop;
        }
      }
    }
  }
}

.certificacion-bloques__area {
  padding: 1rem;
  height: 100%;
  width: 100%;

  .certificacion-bloques__wrapper {
    background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
    height: 100%;
    border-radius: 0.5rem;
    max-height: 33rem;
    overflow: hidden;
    width: 100%;
    // modal para mostrar un texto sobre modal
    .certificacion-bloques__viewer-wrapper {
      background-color: black;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      .certificacion-bloques__text-viewer{
        position: absolute;
        z-index: 1000000;
        width: 34rem;
        white-space: break-spaces;
        text-align: start;
        background-color: white;
        padding: 2rem;
        top: 2rem;
        right: 40%;
        max-height: 90%;
        overflow-y: auto;
      }
      .certificacion-bloques__close-button{
        cursor: pointer;
        display:flex;
        justify-content: flex-end;
        width: 30rem;
        position:fixed;
        > img{
          width: 30px;
        }
      }
      .certificacion-text-area{
        margin-top: 2rem;
      }
    }

    .certificacion-bloques__title {
      font-size: 1.8rem;
      background-color: #444;
      color: #eee;
    }

    .certificacion-bloques__table {
      width: 100%;
      max-height: 25rem;
      min-height: 25rem;

      border-collapse: collapse;
      overflow-y: auto;
      display: block;
      .button-action-container{
        white-space: nowrap;
        img{
          margin-left:4px;
        }
      }

      .link{
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
        color: white;
      }

      .selected{
        color: orange;
      }

      thead {
        font-weight: bold;
        color: #333;

        tr {
          th {
            background-color: #ccc;
            text-align: center;
            position: sticky;
            top: 0;
          }
        }
      }

      tbody {
        color: #eee;
        tr {
          border-bottom: solid 0.1rem #555;
          transition: 0.3s;

          &:nth-last-child(1) {
            border: none;
          }

          td {
            text-align: center;
          }

          &:hover {
            background: rgba($color: #000000, $alpha: 0.5);
            color: #eee;
            transition: 0.1s;
          }
        }
      }

      tfoot {
        tr {
          td {
            position: sticky;
            bottom: 0;
            background-color: #555;
          }
        }
      }

      .certificacion-bloques__grid-icon {
        height: 2rem;

        &:hover {
          filter: drop-shadow(-0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
          color: #eee;
        }
      }

      .certificacion-bloques__grid-input {
        width: 100%;

        input {
          &[type="text"] {
            text-align: center;
          }
          &[type="number"] {
            text-align: right;
          }
        }
      }
    }
  }
}
