.header-menu__outside {
  position: fixed;
  width: calc(100% - 18px);
  height: 100%;
  top: 11.7rem;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  transition-delay: 0.3s;
  transition-duration: 0s;
  transition-property: visibility;

  .header-menu__wrapper {
    position: absolute;
    left: 0;
    top: 0rem;
    z-index: 90;
    height: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s;

    .header-menu__body1 {
      width: 100%;
      background: rgba(#012, 0.7);
      height: 100%;
      //      border-radius: 0.4rem;
      box-shadow: -0.2rem 0.2rem 0.4rem rgba(#000, 0.7);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      flex-direction: column;

      animation: anim__header-menu__options__in 0.3s forwards;

      @keyframes anim__header-menu__options__in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .header-menu__button{
        height: 6rem;
        background-color: #aaa;
        border: 3px solid white;
        border-radius: 28px;
        cursor: pointer;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
        color: #333;
        text-transform:uppercase;
        &.disabled {
          cursor: not-allowed;
        }
      }

      .header-menu__body2 {
        //flex: 0 1 87rem;
        height: fit-content;
        margin-bottom: 3rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding:1rem 2rem;
        background-color: #222;
        border: solid 0.3rem #aaa;
        border-radius: 5rem;
        box-shadow: -0.2rem 0.2rem 0.4rem rgba(#000, 0.7);

        .header-menu__label {
          flex: 0 1 50%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          color: #ddd;
          margin-right: 2rem;

          .header-menu__descrip {
            font-size: 2rem;
            width: 90%;
            white-space: nowrap;
          }
        }

        .header-menu__label2 {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          color: #ddd;
          margin-right: 2rem;

          .header-menu__descrip {
            font-size: 2rem;
            width: 90%;
            white-space: nowrap;
          }
        }
        
        .header-menu__options2 {
          display: flex;
          flex-flow: row nowrap;
          //justify-content: center;
          align-items: center;
          border-radius: 0.5rem;
          flex-wrap: wrap;

          .header-menu__item {
            box-sizing: content-box;
            flex: 0 1 auto;
            background-color: #aaa;
            width: fit-content;
            height: 3.5rem;
            border: solid 0.3rem #ddd;
            border-radius: 5rem;
            margin: 1rem;
            //padding-right: 2rem;
            cursor: pointer;
            box-shadow: -0.2rem 0.2rem 0.4rem rgba(#000, 0.7);

            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 0 1rem;
            white-space: nowrap;

            & > div {
              &:nth-child(1) {
                //background: red;
                flex: 0 0 60%;
                font-size: 2rem;
                font-weight: bold;
                color: #333;
              }
              &:nth-child(2) {
                //background: blue;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                margin-left: 8px;
                & > div {
                  background: red;
                  border-radius: 5rem;
                  border: solid 0.2rem #777;
                  width: 1.5rem;
                  height: 1.5rem;
                  box-shadow: inset -0.2rem 0.2rem 0.2rem #700;
                  transition: background-color 0.3s;
                }
              }
            }
          }

          .header-menu__item__active {
            //background-color: #9d2;
            //color: #333;

            & > div {
              &:nth-child(2) {
                & > div {
                  background: greenyellow;
                  box-shadow: inset -0.2rem 0.2rem 0.2rem green;
                }
              }
            }
          }
        }

        .header-menu__options {
          height: 5.3rem;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;
          //flex: 0 1 50%;

          .header-menu__item {
            box-sizing: content-box;
            flex: 0 1 auto;
            background-color: #aaa;
            width: fit-content;
            height: 3.5rem;
            border: solid 0.3rem #ddd;
            border-radius: 5rem;
            margin: 1rem;
            padding-right: 2rem;
            padding-left: 1rem;
            cursor: pointer;
            box-shadow: -0.2rem 0.2rem 0.4rem rgba(#000, 0.7);

            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            //padding: 0 1rem;
            white-space: nowrap;

            & > div {
              &:nth-child(1) {
                //background: red;
                flex: 0 0 60%;
                font-size: 2rem;
                font-weight: bold;
                color: #333;
              }
              &:nth-child(2) {
                //background: blue;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                margin-left: 8px;
                & > div {
                  background: red;
                  border-radius: 5rem;
                  border: solid 0.2rem #777;
                  width: 1.5rem;
                  height: 1.5rem;
                  box-shadow: inset -0.2rem 0.2rem 0.2rem #700;
                  transition: background-color 0.3s;
                }
              }
            }
          }

          .header-menu__item__active {
            //background-color: #9d2;
            //color: #333;

            & > div {
              &:nth-child(2) {
                & > div {
                  background: greenyellow;
                  box-shadow: inset -0.2rem 0.2rem 0.2rem green;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-menu__wrapper__visible {
    transition: height 0.3s;
    height: calc(100% - 11.7rem);
  }
}

.header-menu__outside__visible {
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: visibility;
  visibility: visible;
}
