.menu-info-adicional__wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 77rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(15rem, 100rem));
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "superposicion estado-materiales tiene-guias emitido segmentacion"
    "estado-programa tipo-emision tiene-repo_tecnico pautado alternativo";
  gap: 0.4rem;
  padding: 0.2rem;

  & img {
    vertical-align: middle;
    height: 2rem;
  }

  ._grilla-progra__info-adicional_cell {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ddd;
    border: solid 0.1rem #333;
    border-radius: 0.3rem;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    padding-left: 0.5rem;
    position: relative;

    & > label {
      cursor: pointer;
    }
  }

  .grilla-progra__info-adicional_cell__selected {
    background-color: #9d2;
    color: #000;
    font-weight: bold;
  }

  .isDisabled {
    cursor:not-allowed;
    pointer-events: none;
    background-color: #91ad60;
  }

  .grilla-progra__info-adicional_superposicion {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: superposicion;
  }

  .grilla-progra__info-adicional_estado-materiales {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: estado-materiales;
  }

  .grilla-progra__info-adicional_estado-programa {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: estado-programa;
  }

  .grilla-progra__info-adicional_tipo-emision {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: tipo-emision;
  }

  .grilla-progra__info-adicional_tiene-guias {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: tiene-guias;
  }

  .grilla-progra__info-adicional_tiene-repo_tecnico {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: tiene-repo_tecnico;
  }
  .grilla-progra__info-adicional_emitido {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: emitido;
  }

  .grilla-progra__info-adicional_pautado {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: pautado;
  }
  .grilla-progra__info-adicional_segmentacion {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: segmentacion;
  }
  .grilla-progra__info-adicional_alternativo {
    @extend ._grilla-progra__info-adicional_cell;
    grid-area: alternativo;
  }
}

@media screen and (max-width: 995px) {
  .menu-info-adicional__wrapper {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, minmax(15rem, 18.1rem));
    grid-template-areas:
      "superposicion estado-materiales"
      "tiene-guias estado-programa"
      "tipo-emision tiene-repo_tecnico";
  }
}
