$color-diferencial: rgba(#222, 0.6); //f0a000
$color-diferencial-2: rgba(#000, 1); //f0a000

.reference__wrapper {
  position: fixed;
  z-index: 999;
  background-color: rgba(#000, 0.5);
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: visible;

  .reference__body {
    position: absolute;
    width: 95rem;
    min-width: 95rem;
    min-height: 50rem;
    //left                 : 25%;
    //right                : 25%;
    //top                    : 20%;
    bottom: 30%;
    background-color: rgba(#000, .9);
    box-shadow: -.3rem .3rem .3rem rgba(black, .6);
    border-radius: 2rem;
    overflow: hidden;
    display: grid;
    padding: 2rem;
    //    gap: 1rem;
    grid-template-columns: 4fr 5fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "reference__esta-progra reference__superposicion    reference__guias "
      "reference__esta-progra reference__superposicion    reference__guias "
      "reference__esta-progra reference__repo_tecnico     reference__tipo-emi "
      "reference__esta-progra reference__esta-mate        reference__tipo-emi "
      "reference__esta-progra reference__esta-mate        reference__tipo-emi "
      "reference__esta-progra reference__esta-mate        reference__tipo-emi "
      "reference__esta-progra reference__esta-mate        reference__tipo-emi "
      "reference__esta-progra reference__esta-mate        reference__tipo-emi ";

    .reference__base {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 1rem;

      .reference__base-title {
        color: #fff;
      }

      .reference__base-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 95%;

        .reference__base-list-item {
          flex: 1 1 auto;
          white-space: nowrap;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          .reference__base-icon {
            flex: 0 1 2.5rem;

            & > img {
              max-width: 3.5rem;
            }
          }

          .reference__base-descrip {
            padding-left: 1rem;
            text-align: left;
            flex: 0 0 fit-content;
            font-size: 1.4rem;
            text-align: left;
          }
        }

        .reference__base-list-last-item {
          flex: 1 1 100%;
        }
      }
    }

    .reference__superposicion {
      @extend .reference__base;
      grid-area: reference__superposicion;
      background-color: $color-diferencial;
      border-radius: 2rem 0rem 0rem 0rem;

      .reference__superposicion__descrip {
        @extend .reference__base-descrip;
        white-space: normal;
      }
    }

    .reference__esta-progra {
      @extend .reference__base;
      grid-area: reference__esta-progra;

      .reference__esta-progra__icon {
        border-radius: 3rem;
        box-shadow: -0rem 0rem 0.2rem 0.2rem rgba(#fff, 0.2);
      }

      .reference__esta-progra__descrip {
        @extend .reference__base-descrip;
        white-space: nowrap;
      }
    }

    .reference__guias {
      @extend .reference__base;
      grid-area: reference__guias;
      background-color: $color-diferencial;
      border-radius: 0rem 2rem 2rem 0rem;

      .reference__guias__descrip {
        @extend .reference__base-descrip;
        white-space: normal;
      }
    }

    .reference__repo_tecnico {
      @extend .reference__base;
      grid-area: reference__repo_tecnico;
      background-color: $color-diferencial;

      //border-radius: 2rem;
      .reference__repo_tecnico__descrip {
        @extend .reference__base-descrip;
        white-space: normal;
      }
    }

    .reference__tipo-emi {
      @extend .reference__base;
      grid-area: reference__tipo-emi;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .reference__base-list {
        padding-left: 2rem;
        height: 100%;
      }

      .reference__tipo-emi__icono {
        box-sizing: border-box;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        border-radius: 3rem;
        border: 0.2rem solid #333;
        box-shadow: -0rem 0rem 0.2rem 0.2rem rgba(#fff, 0.2);
        border-radius: 3rem;
        color: #eee;
      }
      align-content: center;

      .reference__tipo-emi__descrip {
        @extend .reference__base-descrip;
        white-space: nowrap;
        line-height: 0.5;

        & > p {
          font-size: 1.2rem;
          color: #aaa;
          text-decoration: wavy;
        }
      }
    }

    .reference__esta-mate {
      @extend .reference__base;
      grid-area: reference__esta-mate;
      background: linear-gradient($color-diferencial, $color-diferencial-2);
      border-radius: 0rem 0rem 0rem 0rem;
      padding-bottom: 2rem;

      .reference__esta-mate__descrip {
        @extend .reference__base-descrip;
        white-space: normal;
      }
    }

    .reference__listados {
      @extend .reference__base;
      grid-area: reference__listados;
      background-color: $color-diferencial-2;
      border-radius: 0rem 0rem 2rem 2rem;
      padding-bottom: 2rem;

      .reference__listados__descrip {
        @extend .reference__base-descrip;
        white-space: normal;
      }
    }
  }
}

.reference__wrapper__mobile {
  background-color: rgba(#000, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: 200%;

  .reference__body {
    position: absolute;
    top: 1rem;
    background-color: rgba(#fa0, 0.7);
    left: 1rem;
    right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 0rem;
    min-height: 0rem;
    width: calc(100% - 2rem);
    row-gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto; //2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "reference__esta-progra "
      "reference__superposicion "
      "reference__tipo-emi "
      "reference__esta-mate "
      "reference__guias "
      "reference__repo_tecnico ";

    .reference__esta-progra {
      color: #000;
      font-weight: bold;
      white-space: nowrap;
    }

    .reference__superposicion {
      background-color: rgba(#a00, 0.5);
      border-radius: 1rem;
      color: #fff;
    }

    .reference__tipo-emi {
      color: #000;
      font-weight: bold;
    }

    .reference__guias {
      background-color: rgba(#a00, 0.5);
      border-radius: 1rem;
      color: #fff;
    }

    .reference__repo_tecnico {
      background-color: rgba(#a00, 0.5);
      border-radius: 1rem;
      color: #fff;
    }

    .reference__esta-mate {
      background-color: rgba(#a00, 0.5);
      border-radius: 1rem;
      color: #fff;
    }
  }
}

.reference__wrapper__mobile__invisible {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}
