$color-diferencial: rgba(#333, 1); //f0a000
$color-diferencial-2: rgba(#000, 1); //f0a000

.reference__wrapper {
  position: fixed;
  z-index: 999;
  background-color: rgba(#000, 0.7);
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: visible;

  .reference__body {
    position: relative;
    width: 95rem;
    min-width: 95rem;
    min-height: 50rem;
    top: -4rem;
    background-color: #000;
    box-shadow: -0.3rem 0.3rem 0.3rem rgba(black, 0.6);
    border-radius: 2rem;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;

    .reference__column {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;

      .reference__section {
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 1rem;
        display: flex;
        flex-flow: column nowrap;

        .reference__title {
          color: #fff;
        }

        .reference__item {
          flex: 1 1 auto;
          white-space: nowrap;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          .reference__item-icon {
            border-radius: 10rem;
            box-shadow: -0rem 0rem 0.2rem 0.2rem rgba(#fff, 0.2);
            flex: 0 1 2.5rem;
            background-color: rgba($color-diferencial, 0.9);

            & > img {
              max-width: 4rem;
              max-height: 4rem;
              display: block;
            }
          }

          .reference__item-descrip {
            padding-left: 1rem;
            text-align: left;
            flex: 0 0 fit-content;
            font-size: 1.4rem;
            text-align: left;
            //white-space: nowrap;

            & > p {
              margin: 0;
              font-size: 1.2rem;
              color: #777;
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}

.reference__wrapper__invisible {
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}
