.reporte-anticipado__wrapper {
  z-index: 999;
  background: linear-gradient(0deg, rgba(#013, 0.5), rgba(#310, 0.5));
  width: 100%;
  padding: 2rem;
  font-size: 1.4rem;

  .reporte-anticipado__form {
    overflow: visible;
    height: 100%;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-flow: column;

    .reporte-anticipado__form-body {
      min-height: 35rem;
      height: 100%;
      overflow: visible;
      display: flex;
      flex-flow: column;

      .disabled-form-error{
        position: absolute;
        top: 60px;
        color: #c72b2b;
        font-size: 20px;
        font-weight: bold;
        z-index: 100;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8080805e;
      }

      .reporte-anticipado__row {
        color: #ddd;
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 0.3rem;

        .reporte-anticipado__tag {
          color: #ddd;
          flex: 0 1 15rem;
          text-align: right;
          margin-right: 1rem;
          &::after {
            content: ":";
          }
        }

        .reporte-anticipado__data {
          flex: 0 1 100%;
          text-align: left;
          margin-bottom: .2rem;

          .text-area-container{
            display: flex;
            height: 20rem;
          }

          >span {
            >input{margin-top: 2px !important;
            margin-left: 2px !important;
            border-radius: 0.5rem !important;
            height: 22px !important;
            border: none;
            outline: none;
          }
          >a{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          }
          .reporte-anticipado__artis-repor {
            margin: 0.2rem;
            resize: none;
            background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
            border: none;
            outline: none;
            border-radius: 0.5rem;
            color: #ddd;
            width: 100%;
            height: 100%;

            &:disabled {
              color: #bbb;
              font-style: oblique;
            }
          }
          .reporte-anticipado__input {
            margin: 0.2rem;
            resize: none;
            //background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
            border: none;
            outline: none;
            border-radius: 0.5rem;
            //color: #ddd;
            width: 100%;
            height: 100%;

            &:disabled {
              color: #bbb;
              font-style: oblique;
            }
          }
        }
      }

      .reporte-anticipado__row__expansive {
        flex: 1 1 100%;
      }

    }

    .reporte-anticipado__row-filler {
      flex: 1 1 auto;
    }

    .reporte-anticipado__row-buttons {
      flex: 0 1 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      & > div {
        flex: 0 1 20rem;

        .button {
          height: 3rem;
        }
        .disabled {
          color: grey ;
          background-color:white;
          cursor:no-drop;
        }
      }
    }
  }
}
