.expor-repo__wrapper {
  position: absolute;
  transform: translateX(calc(-100% + 2rem));
  //  background: #eee;
  // width: 40rem;
  // height: 20rem;
  left: 0;
  right: 0;
  top: 8rem;
  bottom: 00rem;
  opacity: 0.9;
  color: #000;
  overflow: hidden;
  font-size: 1.6rem;
  opacity: 1;
  transition: 0.5s;
  display: flex;
  flex-flow: row nowrap;

  .expor-repo__main-panel {
    flex: 1 1 auto;
    background-color: #eee;
    overflow: hidden;
    border-radius: 0 0 3rem 0;

    .expor-repo__title {
      background: #eee;
    }

    .expor-repo__body {
      height: 77%;
      overflow-y: auto;

      .expor-repo__row {
        background: #eee;
        margin: 1rem;
        margin-left: 0;
        margin-right: 0;

        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;

        // &:nth-child(even){
        //   background: linear-gradient(#fff, #aaa);
        // }
      }

      .expor-repo__titulo {
        flex: 1 0 auto;
        background: #08d;
        color: #eee;
        padding-bottom: .3rem;
        text-align: left;
        border-radius: .7rem;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;

        .expor-repo__titulo1 {
          flex: 10 0 auto;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-right: .5rem;
          text-align: left;
        }
        .expor-repo__titulo2 {
          flex: 10 0 auto;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-right: .5rem;
          text-align: right;
        }
  
      }

      .expor-repo__texto {
        //background: #acc;
        font-style: oblique;
        text-align: left;
      }

      .expor-repo__row-nowrap {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
      }
    }
    .expor-repo__loader{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fffdfd75;
    }
  }

  .expor-repo__side-bar {
    flex: 0 0 2rem;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .expor-repo__side-bar__tab {
      transform: rotateZ(-90deg);
      background-image: url("../../../../../images/tab_2.png");
      background-size: 100% 100%;
      //background-blend-mode: darken;
      background-repeat: no-repeat;
      flex: 0 0 16rem;
      height: 2rem;
      filter: drop-shadow(-0.2rem -0.2rem 0.2rem #000);
      cursor: pointer;

      .expor-repo__side-bar__tab-icon {
        background-image: url("../../../../../images/tab_in_out.png");
        background-size: 100% 100%;
        //background-blend-mode: darken;
        background-repeat: no-repeat;
        position: relative;
        height: 2rem;
        transition-property: transform;
        transition-delay: 0.5s ;
        transition-duration: 0.3s ;
      }
      .expor-repo__side-bar__tab-icon__invert {
        //background-image: url("../../../../../images/tab_in_out_dark.png");
        transform: scaleY(-1);
      }
    }
    .expor-repo__side-bar__tab__invert {
      //background-image: url("../../../../../images/tab_4.png");
    }
  }

  .expor-repo__label {
    font-style: italic;
    &::after {
      content: ": ";
    }
  }

  .expor-repo__valor {
    background-color: #ddd;
    //font-style: italic;
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid 0.1rem #aaa;
    transform: skew(-10deg);
  }

  pre {
    font-family: inherit;
  }
}

.expor-repo__show {
  transform: translateX(0);
  //  opacity: 1;
}
