.listing-window__wrapper {
  background-color: rgba(#000, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 9rem;
  bottom: 0;
  z-index: 999;
  opacity: 0;

  .empty-data{
    font-weight: bold;
    font-size: 18px;
    color: #5c5c5c
  }

  animation: fade-in 0.3s linear 0s 1 normal forwards;
  .listing-window__copy-button{
    cursor: pointer;
    padding-top: 4px;
    margin-left: 5px;
  }

  .listing-window__frame {
    position: absolute;
    top: 4rem;
    left: 6rem;
    right: 6rem;
    height: 55rem;

    border-radius: 6.5rem 0.5rem 6.5rem 0.5rem;
    background: linear-gradient(#eee, #777);
    box-shadow: -0.2rem 0.2rem 0.5rem 0.2rem rgba(#000, 0.8);
    overflow: hidden;

    .listing-window__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //border-radius: 6.5rem 0.5rem 6.5rem 0.5rem;
      background-blend-mode: multiply, multiply;
      background-repeat: no-repeat, no-repeat;
      background-size: cover, 105rem 105rem;
      background-position: center center, right center;
      filter: blur(4px);
      z-index: 0;
      transform: translate(20%, 20%) scale(2.5) rotate(-15deg);
      opacity: 0;
    }

    .listing-window__botones {
      position: absolute;
      right: 0.7rem;
      top: 0.7rem;
      display: flex;
      justify-content: flex-start;
      padding-left: 3rem;
      .listing-window__btn {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s;
        filter: drop-shadow(0 0 0 #555);
        &:hover {
          filter: drop-shadow(0 0 4px #000);
        }
      }

      .listing-window__btn-help {
        @extend .listing-window__btn;
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
      }
    }

    .listing-window__body {
      filter: none;
      position: absolute;
      z-index: 10;
      margin: 2rem;
      top: 2rem;
      left: 2rem;
      right: 2rem;
      background-color: rgba(#353, 0.2);
      border-radius: 3rem 1rem 3rem 1rem;
      box-shadow: -0.2rem 0.2rem 0.4rem rgba(#000, 0.6);
      max-height: 87%;
      overflow: auto;

      .listing-window__cabecera {
        display: grid;
        font-weight: bold;

        grid-template-columns: 10rem 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
          "titulo_1 titulo_2"
          "titulo_1 titulo_3";

        height: 100%;
        .listing-window__sombra-texto {
          //text-shadow: -0.1rem 0.1rem 0.5rem rgba(#eee, 0.7);
          text-shadow: none;
        }

        .listing-window__titulo_1 {
          grid-area: titulo_1;
          font-size: 1.5rem;
          text-align: start;
          background-blend-mode: multiply;
          background-repeat: no-repeat;
          background-size: 7rem;
          background-position: center;
        }
        .listing-window__titulo_2 {
          @extend .listing-window__sombra-texto;
          grid-area: titulo_2;
          //background-color: red;
          font-size: 1.6rem;
          justify-self: start;
          align-self: start;
          text-align: left;
          white-space: nowrap;
          display: flex;
          flex-flow: row nowrap;

          .codigo-largo-1 {
            color: #444;
            //text-align: left;
            white-space: nowrap;
          }
          .codigo-largo-2 {
            color: #700;
            //text-align: left;
            white-space: nowrap;
          }
          .codigo-largo-3 {
            color: #037;
            //text-align: left;
            white-space: nowrap;
            
            display: flex;
            align-items: center;
          }
          .channel{
            color: #700;
            margin-right: 12px;
          }
          .senial{
            color: #037;
          }
        }
        .listing-window__titulo_3 {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: flex-end;
          padding-bottom: 5px;
          >div{
            display: flex;
            .listing-window__titulo-total-duration{
              display: flex;
              font-size: 16px;
              margin-left: 40px;
              align-items: flex-end;
              padding-bottom: 4px;
            }
            div{
              margin-right: 30px;
            }
          }
          .actions-section{
            .action-button{
              img{
                margin-right: 6px;
              }
              background-color: #dbdbdb;
              border: 2px solid #484848;
              border-radius: 6px;
              font-size: 14px;
              padding: 0px 18px;
              cursor: pointer;
              color: #484848;
              font-weight: 500;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .button-disabled{
              cursor: not-allowed;
            }
          }
          @extend .listing-window__sombra-texto;
          grid-area: titulo_3;
          //background-color: green;
          font-size: 3rem;
          justify-self: start;
          align-self: start;
        }
      }

      .listing-window__grilla {
        border-radius: 0 0 1rem 1rem;

        border: solid 0.1rem #aaa;
        font-size: 1.2rem;
        // overflow: auto;
        min-height: 40rem;
        //max-height: 40rem;
        background-color: rgba(#ccc, 0.7);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: 80rem 80rem;
        background-position: 90% center;
        height: 100%;
        transition: opacity 1s;
        opacity: 0;

        .listing-window__table {
          width: calc(100% - 0.1rem);
          //border: solid 1px black;
          background-color: rgba(#f0f, 0.1);
          border-collapse: collapse;
          height: 100%;
          overflow: auto;
          //background: violet;

          .listing-window__row {
            background-color: rgba(#fff, 0.5);
            text-align: start;
            height: 1em;
            overflow: hidden;
            padding: 0;
            border-bottom: solid 0.1rem #aaa;
            .action-button{
              border: 1px solid black;
              border-radius: 4px;
              background-color: #e9e8e8;
              width: 22px;
              cursor: pointer;
            }

            & > td {
              white-space: nowrap;
              overflow: hidden;
              border-right: solid 0rem #aaa;
              border-right: solid 0.1rem #aaa;
              padding-left: 0.2em;
              padding-right: 0.2em;
              height: 100%;

              & > img {
                height: 1.5em;
              }
            }
            &:nth-child(odd) {
              background-color: rgba(#eee, 0.5);
            }

            td.listing-window__cell__left {
              text-align: left;
            }
            td.listing-window__cell__center {
              text-align: center;
            }
            td.listing-window__cell__right {
              text-align: right;
            }
            
            &:hover {
              background-color: #777;
              color: white;
            }
            td.max_width{
              width:300px !important;
              white-space: normal;
            }
          }

          .header{
            background-color: rgb(69, 60, 146) !important;
            color: white;
            cursor: pointer;
          }

          .listing-window__row__cabecera {
            background-color: rgba(#000, 0.5);
            color: #eee;
            text-align: center;

            .listing-window__cell__cabecera {
              margin: 0;
              padding: 0;
              border-right: solid .1rem #888;
              
              &:nth-last-child(1) {
                border-right: none;
              }

              /*This style provides stability Until all grids have quick search*/
              .listing-window__cell__cabecera__filler {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: column;

                .listing-window__cell__cabecera__top {
                  flex: 1 1 auto;
                  background-color: unset;
                }
                .listing-window__cell__cabecera__bottom {
                  flex: 1 1 2rem;
                  background-color: rgba($color: #f0ddf0, $alpha: 0.3);
                }
              }
            }
          }
        }
      }
    }
  }
}
.onMediaTraker{
  top:6rem;
}


.listing-window__hide {
  animation: fade-out 0.3s linear 0s 1 normal forwards;
  //opacity: .2;
}

@keyframes fade-in {
  0% {
    //    background-color: rgba(#000, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    //    background-color: rgba(#000, 0.6);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.obser{
  white-space: break-spaces !important;
  max-width: 300px;
  text-align: left;
}
