.reporte-emision__wrapper {
  z-index: 999;
  background: linear-gradient(0deg, rgba(#013, 0.5), rgba(#310, 0.5));
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 1.4rem;
//  background: yellowgreen;

  .reporte-emision__form {
    overflow: hidden;
    height: 100%;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-flow: column;

    .reporte-emision__form-body {
      height: 100%;
      overflow: visible;
      display: flex;
      flex-flow: column;
      
      .disabled-form-error{
        position: absolute;
        top: 60px;
        color: #c72b2b;
        font-size: 20px;
        font-weight: bold;
        z-index: 100;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8080805e;
      }

      .reporte-emision__row {
        color: #ddd;
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;

        .reporte-emision__tag {
          color: #ddd;
          flex: 0 1 15rem;
          text-align: right;
          margin-right: 1rem;
          &::after {
            content: ":";
          }
        }

        .reporte-emision__data {
          flex: 0 1 100%;
          text-align: left;

          .reporte-emision__form-textarea-space {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;

            .reporte-emision__textarea {
              margin: 0.2rem;
              resize: none;
              //background: rgba(#444, 0.5);
              background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0)); //#486;
              border: none; // .1rem solid #aaa;
              outline: none;
              border-radius: 0.5rem;
              color: #ddd; //#ac5;
              width: 100%;
              height: 100%;

              &:disabled {
                //background: linear-gradient(rgba(#000, 0.6), rgba(#fff, .1)); //#486;
                color: #bbb;
                font-style: oblique;
              }
            }
          }
          //INCIDENCIAS
          .reporte-emision__detalle {
            //          background: red;
            display: flex;
            flex-flow: row wrap;

            .reporte-emision__detalle-opcion {
              margin: 0.2rem;
              padding: 0.2rem;
              padding-left: 0.2rem;
              padding-right: 0.2rem;
              border-radius: 0.4rem;
              flex: 1 1 32%;
              background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5));
              display: flex;
              align-items: center;
              flex-flow: row nowrap;

              .reporte-emision__detalle-opcion-label {
                //background: #468;
                padding-left: 0.2rem;
                padding-right: 1rem;
                white-space: nowrap;
                color: #bbb;
                font &::after {
                  content: ":";
                }
              }

              .reporte-emision__detalle-icon-space {
                //background: #468;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                display: flex;
                align-items: center;

                .reporte-emision__detalle-icon {
                  height: 2rem;
                  animation: anim-glow 4s linear infinite;
                }

                @keyframes anim-glow {
                  0% {
                    opacity: 0.3;
                  }
                  70% {
                    opacity: 0.3;
                  }
                  85% {
                    opacity: 1;
                  }
                  100% {
                    opacity: 0.3;
                  }
                }
              }

              .reporte-emision__detalle-opcion-body {
                //background: linear-gradient(rgba(#468, 1), rgba(#000, 0)); //#486;
                justify-content: flex-end;
                flex: 1 1 auto;
                display: flex;
                align-items: center;
                flex-flow: row nowrap;
                color: #ddd;
              }
            }
          }
        }
      }

      .reporte-emision__row__expansive {
        flex: 1 1 100%;
      }

      .reporte-emision__row-buttons {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        margin:10px;
        align-items: center;

        & > div {
          flex: 0 1 20rem;

          .button {
            height: 3rem;
          }
          .disabled {
            color: grey ;
            background-color:white;
            cursor:no-drop;
          }
        }
      }
    }

    .reporte-emision__row-filler {
      flex: 1 1 auto;
    }
  }
}
