$tipo-emi-text-shadow-color: #000;
$tipo-emi-text-shadow-width-pos: 0.1rem;
$tipo-emi-text-shadow-width-neg: -0.1rem;
$tipo-emi-text-shadow-blur-radius: 0.3rem;
$shy-opacity: 0.8;

.info-adicional__wrapper {
  position: absolute;
  width: 100%;
  //height  : 100%;
  right: 0;
  padding: 0;
  margin: 0;
  opacity: 1;
  align-self: flex-start;

  .info-adicional__body {
    width: 100%;
    height: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    .tag {
      position: absolute;
      padding-left: 0.5rem;
      padding-right: 1.5rem;
      right: 1rem;
      //top: 1rem;
      border: solid 0.1rem #333;
      height: auto;
      max-width: 16rem;
      font-size: 1.3rem;
      border-radius: 0.3rem;
      background-color: #fff;
      color: #000;
      opacity: 1;
      z-index: -1;
      transform: scaleX(0) scaleY(0);
      overflow: hidden;
      transform-origin: right;
      transition: transform 0.2s;
      top: 0;
    }

    .info-adicional_icono {
      height: 2rem;
      width: 2rem;
      border-radius: 0.5rem;
      border: solid 0.1rem #555;
    }

    .info-adicional__cuadro {
      height: 2rem;
      width: 2rem;
      min-width: 2rem;
      border-radius: 0.4rem;
      //border             : solid .1rem #555;
      vertical-align: top;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      background-position: center;

      opacity: 0;
      animation: inflate 0.5s forwards;
    }

    .info-adicional__tipo-emi {
      @extend .info-adicional__cuadro;
      position: relative;
      z-index: 99;

      .info-adicional__tipo-emi__giggle {
        @extend .info-adicional__cuadro;
        box-sizing: border-box;
        border-radius: 5rem;
        border: none;
        font-size: 1.4rem;
        border: 0.2rem solid #333;
        color: #eee;
      }

      .info-adicional__tipo-emi__tag {
        color: #000;
        @extend .tag;
      }

      &:hover {
        .info-adicional__tipo-emi__tag {
          transition: transform 0.2s;
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    .info-adicional__esta-progra {
      @extend .info-adicional__cuadro;
      position: relative;
      z-index: 99;
      opacity: 1;
      border: none;

      .info-adicional__esta-progra__tag {
        @extend .tag;
      }

      &:hover {
        .info-adicional__esta-progra__tag {
          transition: transform 0.2s;
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    /*ESTA MATE*/
    .info-adicional__esta-mate {
      @extend .info-adicional__cuadro;
      background-color: none;
      border: none;
      opacity: 1;
      background-repeat: repeat-y;
      position: relative;
      z-index: 99;

      .info-adicional__esta-mate__mask {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;

        .info-adicional__esta-mate__anim {
          width: 100%;
          height: 200%;
          top: 0;
          left: 0;
          opacity: $shy-opacity;
          display: flex;
          flex-flow: column;
          will-change: transform;
          transform: translateZ(0);

          & > img {
            width: 100%;
          }

          animation: image-up 10s ease 3s infinite;
        }
      }

      .info-adicional__esta-mate__tag {
        @extend .tag;
      }

      &:hover {
        .info-adicional__esta-mate__tag {
          transition: transform 0.2s;
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    /*TIENE REPO TECNICO*/
    .info-adicional__tiene-repo_tecnico {
      @extend .info-adicional__cuadro;
      position: relative;
      z-index: 99;

      .info-adicional__tiene-repo_tecnico__giggle {
        @extend .info-adicional__cuadro;
        will-change: transform;
        opacity: $shy-opacity;
        background-color: none;
        background-image: url(../../../../../../../images/masInfo/tieneRepoEmi.png);
        background-repeat: no-repeat;
        border: none;
        transform: translateZ(0);
        animation: giggle 5s linear 0s infinite alternate;
      }

      .info-adicional__tiene-repo_tecnico__giggle_error {
        @extend .info-adicional__cuadro;
        will-change: transform;
        opacity: $shy-opacity;
        background-color: none;
        background-image: url(../../../../../../../images/masInfo/tieneRepoTecnicoError.png);
        background-repeat: no-repeat;
        border: none;
        transform: translateZ(0);
        animation: giggle 5s linear 0s infinite alternate;
      }


      .info-adicional__tiene-repo_tecnico__tag {
        @extend .tag;
        white-space: normal;
        width: 16rem;
      }

      &:hover {
        .info-adicional__tiene-repo_tecnico__tag {
          transition: transform 0.2s;
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    /*TIENE GUIAS*/
    .info-adicional__tiene-guias {
      @extend .info-adicional__cuadro;
      will-change: transform;
      transform: translateZ(0);
      position: relative;

      .info-adicional__bg {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: solid 0.1rem #333;
        border-radius: 0.5rem;
        opacity: $shy-opacity;

        .info-adicional__giggle {
          @extend .info-adicional__cuadro;
          width: 100%;
          height: 100%;
          will-change: transform;
          background-image: url(../../../../../../../images/masInfo/guias.png);
          background-repeat: no-repeat;
          background-color: none;
          background-size: 100% auto;
          border: none;
          //opacity          : .6;
          transform: translateZ(0);
          animation: giggle 5s linear 2s infinite alternate;
        }
      }

      .info-adicional__tiene-guias__tag {
        @extend .tag;
        white-space: normal;
        width: 16rem;
      }

      &:hover {
        .info-adicional__tiene-guias__tag {
          transition: transform 0.2s;
          transform: scaleX(1) scaleY(1);
        }
      }

      //animation: name duration timing-function delay iteration-count direction fill-mode;
    }

    .info-adicional__deflate{
      animation: inflate .5s reverse forwards;
    }
  }
}

@keyframes inflate {
  0% {
    //transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    //transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}


.info-adicional__visible {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

@keyframes image-up {
  0% {
    transform: translateY(0rem);
    opacity: $shy-opacity;
  }

  90% {
    transform: translateY(0rem);
    opacity: 0.5;
  }

  93% {
    opacity: 1;
  }

  97% {
    opacity: 1;
  }

  100% {
    transform: translateY(-2rem);
    opacity: $shy-opacity;
  }
}

@keyframes giggle {
  0% {
    transform: rotate(0deg);
    opacity: $shy-opacity;
  }

  90% {
    opacity: $shy-opacity;
  }

  95% {
    transform: rotate(0deg);
  }

  97% {
    transform: rotate(15deg) scale(1.3); // translateX(.3rem);
    opacity: 1;
  }

  100% {
    transform: rotate(-15deg) scale(1.3); // translateX(-.3rem);
    opacity: 1;
  }
}

@keyframes opacity_esta_progra {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  57% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
