//@import '../InfoAdicional.js';

.segmentacion__cuadro {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  //border-radius: 0.4rem;
  //border             : solid .1rem #555;
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0;
  animation: inflate 0.5s forwards;
}

.tag {
  position: absolute;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  right: 1rem;
  //top: 1rem;
  border: solid 0.1rem #333;
  height: auto;
  max-width: 16rem;
  font-size: 1.3rem;
  //border-radius: 0.3rem;
  background-color: #fff;
  color: #000;
  opacity: 100;
  z-index: -1;
  transform: scaleX(0) scaleY(0);
  overflow: hidden;
  transform-origin: right;
  transition: transform 0.2s;
  top: 0;
}

.segmentacion__tipo-emi__wrapper {
  @extend .segmentacion__cuadro;
  position: relative;
  z-index: 99;
  flex: 0 0 auto;
  opacity: 0;
  animation: inflate 0.5s forwards;

  .segmentacion__tipo-emi__giggle {
    @extend .segmentacion__cuadro;
    box-sizing: border-box;
    //border-radius: 5rem;
    border: none;
    font-size: 1.4rem;
    border: 0.2rem solid #333;
    color: #eee;
    font-weight: 600;
  }

  .segmentacion__tipo-emi__tag {
    color: #000;
    @extend .tag;
  }

  &:hover {
    .segmentacion__tipo-emi__tag {
      transition: transform 0.2s;
      transform: scaleX(1) scaleY(1);
    }
  }
}
