.arrow_box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  gap: 5px;
  position: relative;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
  max-width: 230px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container_text {
  font-weight: bold;
  display: flex;
}
.text {
  font-weight: 400;
  text-decoration: unset;
  white-space: pre-wrap;
}

.arrow_box:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

#iconSolid:hover path {
  fill: #151c22;
}
#iconReset:hover path {
  fill: #151c22; /* Cambia el color de relleno cuando se realiza hover */
}

.rowTitle:hover{
  text-decoration: underline;
  cursor: pointer;
}
.rowTitleDisabled:hover{
  text-decoration:none;
  cursor:not-allowed
}

.apexcharts-reset-icon {
  margin-left: 0 !important;
  padding-top:1px
}

.apexcharts-toolbar{
  gap:5px !important
}
