.grilla-cabecera__item-cabecera{
  box-sizing: border-box;
  flex: 1 1 auto;
  border-right: dotted .1rem #666;
  max-width: 30rem;
  width: 100%;
  transition-property: visibility, width;
  transition-delay: 0, 0;
  transition-duration: .3s;
  visibility: visible;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.grilla-cabecera__item-cabecera__hide {
  transition-property: visibility, width;
  transition-delay: 1s, 0;
  transition-duration: 0, .3s;
  width: 0;
  visibility: hidden;
}
