.media-segmentacion__wrapper {
    z-index: 999;
    background: linear-gradient(0deg, rgba(#013, 0.5), rgba(#310, 0.5));
    width: 100%;
    padding: 2rem;
    font-size: 1.4rem;
  
    .media-segmentacion__form {
      overflow: visible;
      height: 100%;
      min-width: 20rem;
      min-height: 20rem;
      display: flex;
      flex-flow: column;
  
      .media-segmentacion__form-body {
        height: 100%;
        overflow: visible;
        display: flex;
        flex-flow: column;
  
        .media-segmentacion__form-columns {
          display: flex;
          flex-flow: row nowrap;
          flex: 0 1 100%;
  
          .media-segmentacion__form-column {
            display: flex;
            flex-flow: column;
            flex: 0 1 50%;
            //background: orange;
            //height: 100%;
            .input-radio-container{
              display: flex;
              align-items: center;
              gap: 1.5rem;
              > div {
                display: flex;
                gap: 5px;
                > label, input {
                  cursor: pointer;
                }
              }
            }
            .input-error{
              color: #ff6363;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
  
        .media-segmentacion__group {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
        }
  
        .media-segmentacion__row {
          color: #ddd;
          flex: 0 1 auto;
          display: flex;
          flex-flow: row nowrap;
          margin-top: 0.1rem;
  
          .media-segmentacion__tag {
            color: #ddd;
            flex: 0 1 15rem;
            text-align: right;
            margin-right: 1rem;
            &::after {
              content: ":";
            }
          }
  
          .media-segmentacion__data {
            flex: 0 1 100%;
            text-align: left;
            margin-bottom: 0.2rem;

            > select {
              width: 100%;
            }
  
            .media-segmentacion__form-textarea-space {
              display: flex;
              flex-flow: row nowrap;
              height: 100%;
            }
  
            .media-segmentacion__input-text {
              width: 100%;
            }
  
            .media-segmentacion__textarea {
              margin: 0.2rem;
              resize: none;
              background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
              border: none;
              outline: none;
              border-radius: 0.5rem;
              color: #ddd;
              width: 100%;
              height: 100%;
  
              &:disabled {
                color: #bbb;
                font-style: oblique;
              }
            }
          }
        }
  
        .media-segmentacion__row__expansive {
          flex: 1 1 100%;
        }
  
        .media-segmentacion__row-buttons {
          flex: 0 1 4rem;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: flex-end;
  
          & > div {
            flex: 0 1 20rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
  
            .media-segmentacion__row-button {
              height: 3rem;
              min-width: 16rem;
              background: linear-gradient(#ddd, #999);
              cursor: pointer;
              border: none;
              border-radius: 0.3rem;
              user-select: none;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
  
      .media-segmentacion__row-filler {
        flex: 1 1 auto;
      }
    }
  
    /*==BLOQUES==========================*/
  
    .media-segmentacion-bloques__area {
      padding: 1rem;
      height: 100%;
  
      .media-segmentacion-bloques__wrapper {
        background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
        height: 100%;
        border-radius: 0.5rem;
        //max-height: 33rem;
        overflow: hidden;
        .table-total{
          background-color: #ccc;
          text-align: center;
          bottom: 0;
          width: 100%;
          position: sticky;
          font-weight: bold;
          color: #333;
        }
  
        .media-segmentacion-bloques__title {
          font-size: 1.8rem;
          background-color: #444;
          color: #eee;
        }
  
        .media-segmentacion-bloques__table {
          width: 100%;
          max-height: 26.1rem;
          min-height: 26.1rem;
  
          border-collapse: collapse;
          overflow-y: auto;
          display: block;
  
          thead {
            font-weight: bold;
            color: #333;
  
            tr {
              th {
                background-color: #ccc;
                text-align: center;
                position: sticky;
                top: 0;
              }
            }
          }
          
          tbody {
            color: #eee;
            tr {
              border-bottom: solid 0.1rem #555;
              transition: 0.3s;
  
              &:nth-last-child(1) {
                border: none;
              }
  
              td {
                text-align: center;
              }
  
              &:hover {
                background: rgba($color: #000000, $alpha: 0.5);
                color: #eee;
                transition: 0.1s;
              }
            }
          }
  
          tfoot {
            tr {
              td {
                position: sticky;
                bottom: 0;
                background-color: #555;
              }
            }
          }
  
          .media-segmentacion-bloques__grid-icon {
            height: 2rem;
  
            &:hover {
              filter: drop-shadow(-0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
              color: #eee;
            }
          }
  
          .media-segmentacion-bloques__grid-input {
            width: 100%;
  
            input {
              &[type="text"] {
                text-align: center;
              }
              &[type="number"] {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
  