.guias-particulares__wrapper {
  z-index: 999;
  background: linear-gradient(0deg, rgba(#013, 0.5), rgba(#310, 0.5));
  width: 100%;
  padding: 2rem;
  font-size: 1.4rem;
  height: 100%;

  .guias-particulares__form {
    overflow: visible;
    height: 100%;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-flow: column;

    .guias-particulares__form-body {
      height: 100%;
      overflow: visible;
      display: flex;
      flex-flow: column;

      .disabled-form-error{
        position: absolute;
        top: 60px;
        color: #c72b2b;
        font-size: 20px;
        font-weight: bold;
        z-index: 100;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8080805e;
      }

      .guias-particulares__row {
        color: #ddd;
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 0.3rem;

        .guias-particulares__tag {
          color: #ddd;
          flex: 0 1 15rem;
          text-align: right;
          margin-right: 1rem;
          &::after {
            content: ":";
          }
        }

        .guias-particulares__data {
          flex: 0 1 100%;
          text-align: left;
          margin-bottom: .2rem;

          .guias-particulares__generales {

            &:disabled {
              margin: 0.2rem;
              resize: none;
              background: linear-gradient(rgba(#fff, 0), rgba(#fff, 0.16));
              border: none;
              outline: none;
              border-radius: 0.5rem;
              color: #ddd;
              width: 100%;
              color: #bbb;
              font-style: oblique;
              min-height: 12rem;
            }
          }

          .guias-particulares__particulares {
            margin: 0.2rem;
            resize: none;
            background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
            border: none;
            outline: none;
            border-radius: 0.5rem;
            color: #ddd;
            width: 100%;
            min-height: 12rem;

            &:disabled {
              color: #bbb;
              font-style: oblique;
            }
          }
        }
      }

      .guias-particulares__row__expansive {
        flex: 1 1 auto;
      }
    }

    .guias-particulares__row-filler {
      flex: 1 1 auto;
    }

    .guias-particulares__row-buttons {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;

      & > div {
        flex: 0 1 20rem;

        .button {
          height: 3rem;
        }
        .disabled {
          color: grey ;
          background-color:white;
          cursor:no-drop;
        }
      }
    }
  }
}
