$anim-duration: .5s;

.grilla-progra__grilla__out-to-left {
  //animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: swipe_out_to_left $anim-duration ease-in forwards;
}

.grilla-progra__grilla__in-from-left {
  animation: swipe_in_from_left $anim-duration ease-out forwards;
}

.grilla-progra__grilla__out-to-right {
  animation: swipe_out_to_right $anim-duration ease-in forwards;
}

.grilla-progra__grilla__in-from-right {
  animation: swipe_in_from_right $anim-duration ease-out forwards;
}

.grilla-progra__grilla__blur-in {
  animation: blur_in $anim-duration ease-out forwards;
}

.grilla-progra__grilla__blur-out {
  animation: blur_out $anim-duration ease-out forwards;
}
@keyframes swipe_out_to_left {
  0% {
    transform: translateZ(0) translateX(0)
  }

  100% {
    transform: translateZ(0) translateX(-100%) 
  }
}

@keyframes swipe_in_from_left {
  0% {
    transform: translateZ(0) translateX(-100%)
  }

  100% {
    transform: translateZ(0) translateX(0)
  }
}

@keyframes swipe_out_to_right {
  0% {
    transform: translateZ(0) translateX(0)
  }

  100% {
    transform: translateZ(0) translateX(100%)
  }
}

@keyframes swipe_in_from_right {
  0% {
    transform: translateZ(0) translateX(100%)
  }

  100% {
    transform: translateZ(0) translateX(0)
  }
}

@keyframes blur_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blur_out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}