//$duplicated-bg: #ac0;
$duplicated-bg: #ca0;

.superpos__wrapper {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 2%;
  background: rgba($duplicated-bg, 0.6);
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3rem;
  box-shadow: -0.2rem 0.2rem 0.4rem 0rem rgba(#000, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: background-color 0.2s ease 0s;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 70% auto;
  overflow: visible;

  & > .superpos__frame {
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.2s ease 0s;
    width: 100%;
    height: 100%;
    border: 2px solid #ecec4d;
    border-radius: 4px;
    height: fit-content !important;
    position: absolute;
    top: 0;

    & > .superpos__titulo {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
      background: rgba(#aaa, 1);
      border-radius: 0.5rem 0.5rem 0 0;
      box-sizing: border-box;
      box-shadow: inset 0 0 0.3rem #000;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    & > .superpos__footer {
      background: rgba(#555, 1);
      border-radius: 0 0 0.5rem 0.5rem;
      box-sizing: border-box;
      box-shadow: inset 0 0 0.3rem #000;
    }

    & > .superpos__contenido {
      background: rgba(#555, 1);
      border-radius: 0.2rem;
      box-sizing: border-box;
      box-shadow: inset 0 0 0.3rem #000;
      font-size: 1rem;
      text-align: left;
      flex-direction: column;
    }
    
    .superpos__contenido__detalle {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      background: rgb(225, 225, 225);
      color: black;
      font-size: 1rem;
      text-align: left;
      height: 5rem;
      display: none;
      flex-direction: column;
      overflow: hidden;
      cursor: pointer;
      > div {
        flex-wrap: wrap;
      }
    }
    & .open {
      display: flex;
    }
  }

  &:hover {
    left: 0%;
    right: 2%;
    color: #fff;
    transition: left 0.3s ease 0s, right 0.3s ease 0s, background-color 0.3s ease 0s;
    overflow: visible;

    & > .superpos__frame {
      transition: opacity 0.2s ease 0.1s;
      opacity: 1;
    }
  }
}
.open-container{
  z-index: 9999999999999999 !important;
}

@keyframes sup-intro {
  0% {
    opacity: 0;
    left: 0%;
    right: 100%;
    transform: rotate(45deg);
    transform-origin: top left;
    visibility: visible;
  }

  70% {
    transform-origin: top left;
    transform: rotate(0deg);
  }

  100% {
    visibility: visible;
    opacity: 1;
    left: 0%;
    right: 2%;
  }
}

@keyframes sup-outtro {
  0% {
    opacity: 1;
    left: 0%;
    right: 2%;
    transform: rotate(0deg);
    box-shadow: none;
    transform-origin: top right;
    visibility: visible;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform-origin: top right;
    transform: rotate(-45deg);
    left: 100%;
    right: 0%;
    visibility: hidden;    
  }
}

.superpos__wrapper__hide {
  display: flex;
  animation-name: sup-outtro;
  animation-duration: 0.3s;
  animation-delay: 0s;
  visibility: visible;
  // opacity: 1;
  animation-fill-mode: forwards;
}

.superpos__wrapper__show {
  animation-name: sup-intro;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;

  & > .superpos__frame {
    animation: show-data 2s ease-out;
  }
}

.superpos__wrapper__visible {
  opacity: 1;
  visibility: visible;

  & > .superpos__frame {
    animation: show-data 2s ease-out;
  }
}

.superpos__wrapper__hidden {
  display: none;
  // opacity: 0;
}

@keyframes show-data {
  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
