// .filtro__form_tipo-emi {
//   grid-area: filtro__form_tipo-emi;

//   .filtro__form_tipo-emi__opciones {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: flex-start;

//     .filtro__tipo-emi__opcion {
//       flex: 1 1 50%;
//       text-align: left;
//     }
//   }
// }

/* OPCIONES TIPO EMISION */

.opciones-tipo-emi__wrapper {
  position: absolute;

  height: 0;
  transition-property: height;
  transition: height 0s;
  transition-delay: 0.3s;
  max-width: 20rem;
  left: -1rem;
  right: -1rem;
  color: #aaa;
  bottom: -0.2rem;
  overflow: hidden;
  cursor: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  //background-color: hotpink;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  z-index: 99;

  .opciones-tipo-emi__center {
    box-sizing: border-box;
    transition: top 0.5s;
    position: relative;
    top: 100%;
    overflow: hidden;
    padding: .5rem;
  
    .opciones-tipo-emi__shadow {
      box-sizing: border-box;
      //background-color: red;
      background-color: rgba(#000, 0.95);
      //box-shadow: -0rem 0rem 0.2rem .1rem rgba(#eee, 0.6);
      box-shadow: -0.2rem 0.2rem 0.2rem rgba(#000, 0.6);
      //border: 0.1rem solid #eee;
      border-radius: 0.5rem;
  
      .opciones-tipo-emi__item {
        //      background: green;
        margin: 0rem;
        height: 25px;
        margin-left: .8rem;
        margin-right: .8rem;
        font-size: 1.2rem;

        .opciones-tipo-emi__item2 {
          cursor: pointer;
          text-align: left;

          //border: solid 1px white;
          //background: orange;
        }
      }
    }
  }
}

.opciones-tipo-emi__wrapper__in {
  //height: unset;
  transition-property: height;
  transition: height 0s;
  transition-delay: 0;
  height: 146px;
  .opciones-tipo-emi__center {
    box-sizing: border-box;
    transition: top 0.5s;
    top: 0;
    //   .opciones-tipo-emi__item {
    //   height: 100%;
    //   transition: height 0.5s;
    //   background-color: yellow;
    // }
  }
}
