.segmentos__wrapper {
  z-index: 999;
  background: linear-gradient(0deg, rgba(#013, 0.5), rgba(#310, 0.5));
  width: 100%;
  padding: 2rem;
  font-size: 1.4rem;
  height: fit-content;

  .segmentos__form {
    overflow: visible;
    height: 100%;
    min-width: 20rem;
    min-height: 20rem;
    display: flex;
    flex-flow: column;

    .segmentos__form-body {
      height: 100%;
      overflow: visible;
      display: flex;
      flex-flow: column;

      .segmentos__form-columns {
        &.column-mode{
          flex-direction: column;
        }
        display: flex;
        // flex-flow: row nowrap;
        // flex: 0 1 100%;
        
        .segmentos__form-column {
          flex-flow: column;
          display: flex;
          flex: 0 1 50%;
          //background: orange;
          //height: 100%;
        }
      }

      .segmentos__group {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
      }
      .segments__cabecera{
        text-align: start;
        &.isNew{
          flex-direction: column;
        }
      }

      .segmentos__row {
        color: #ddd;
        /* flex: 0 1 auto; */
        display: inline-flex;
        /* flex-flow: row nowrap; */
        margin-top: 0.3rem;
        width: 25%;
        &.new{
          width: 48%;
        }

        .segmentos__tag {
          color: #ddd;
          white-space: nowrap;
          margin-left: 1rem;
          margin-right: 1rem;
          &::after {
            content: ":";
          }
        }

        .segmentos__data {
          width: 100%;
          text-align: left;
          margin-bottom: 0.2rem;
          >span {
            >input{margin-top: 2px !important;
            margin-left: 2px !important;
            border-radius: 0.5rem !important;
            height: 22px !important;
            border: none;
            outline: none;
          }
          >a{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          }
          select, input {
            width: 100%;
          }

          .segmentos__form-textarea-space {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
          }

          .segmentos__input-text {
            width: 100%;
          }

          .segmentos__textarea {
            margin: 0.2rem;
            resize: none;
            background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
            border: none;
            outline: none;
            border-radius: 0.5rem;
            color: #ddd;
            width: 100%;
            height: 100%;

            &:disabled {
              color: #bbb;
              font-style: oblique;
            }
          }
        }
      }

      .segmentos__row__expansive {
        flex: 1 1 100%;
      }

      .segmentos__row-buttons {
        flex: 0 1 4rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        .segmentos__loader{
          position: absolute;
          z-index: 3;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        & > div {
          flex: 0 1 20rem;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;

          .segmentos__row-button {
            height: 3rem;
            min-width: 16rem;
            background: linear-gradient(#ddd, #999);
            cursor: pointer;
            border: none;
            border-radius: 0.3rem;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            &:active{
              background: #444;
            }
          }
        }
      }
    }

    .segmentos__row-filler {
      flex: 1 1 auto;
    }
  }

  /*==BLOQUES==========================*/

}
.segmentos-bloques__area {
  padding: 1rem;
  height: 100%;
  width: 100%;

  .segmentos-bloques__wrapper {
    background: linear-gradient(rgba(#000, 0.6), rgba(#000, 0));
    height: 100%;
    border-radius: 0.5rem;
    max-height: 33rem;
    overflow: hidden;
    width: 100%;

    .segmentos-bloques__title {
      font-size: 1.8rem;
      background-color: #444;
      color: #eee;
    }

    .segmentos-bloques__table {
      width: 100%;
      max-height: 25rem;
      min-height: 25rem;

      border-collapse: collapse;
      overflow-y: auto;
      display: block;
      .button-action-container{
        white-space: nowrap;
        img{
          margin-left:4px;
        }
      }

      thead {
        font-weight: bold;
        color: #333;

        tr {
          th {
            background-color: #ccc;
            text-align: center;
            position: sticky;
            top: 0;
          }
        }
      }

      tbody {
        color: #eee;
        tr {
          border-bottom: solid 0.1rem #555;
          transition: 0.3s;

          &:nth-last-child(1) {
            border: none;
          }

          td {
            text-align: center;
          }

          &:hover {
            background: rgba($color: #000000, $alpha: 0.5);
            color: #eee;
            transition: 0.1s;
          }
        }
      }

      tfoot {
        tr {
          td {
            position: sticky;
            bottom: 0;
            background-color: #555;
          }
        }
      }

      .segmentos-bloques__grid-icon {
        height: 2rem;

        &:hover {
          filter: drop-shadow(-0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
          color: #eee;
        }
      }

      .segmentos-bloques__grid-input {
        width: 100%;

        input {
          &[type="text"] {
            text-align: center;
          }
          &[type="number"] {
            text-align: right;
          }
        }
      }
    }
  }
}
